<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation Email</title>
</head>
<body style="font-family: 'Arial', sans-serif; margin: 0; padding: 0; box-sizing: border-box;">
    <div id="email-container" style="background-color: #FFFFFF; color: #000000; max-width: 700px; margin: auto; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <!-- Header Section -->
        <div id="header" style="background-color: #00AEEF; padding: 0px 0px; text-align: center; color: #ffffff;">
            <img class="resize" src="https://freepnglogo.com/images/all_img/1701523127mr-beast-logo-png.png" style="width: 200px; height: auto; max-width: 100%; margin: 30px;">
        </div>

        <!-- Main Content Section -->
        <div id="main-content" style="padding: 20px; background-color: #ffffff;">
            <p style="font-size: 16px; line-height: 1.5; color: #00AEEF;"><strong style="line-height: 1.5; color: #FF69B4;">{{name}},</strong></p>
            <p style="font-size: 16px; line-height: 1.5; color: #00AEEF;">Thank you for registering for BeastCon, a MrBeast event, happening May 1 – 3, 2025 at the PNC Arena in Raleigh, North Carolina! We’re excited to welcome you to this epic experience filled with thrilling challenges, games, and surprises.</p>
        </div>

        <!-- Event Details Section -->
        <div id="event-details" style="padding: 10px; background-color: #ffffff;">
            <h2 style="color: #00AEEF; margin-bottom: 20px;">EVENT DETAILS</h2>
            <p style="font-size: 16px; line-height: 1.5; color: #00AEEF;"><strong style="line-height: 1.5; color: #FF69B4;">Attendee Name:</strong> {{name}}</p>
            <p style="font-size: 16px; line-height: 1.5; color: #00AEEF;"><strong style="line-height: 1.5; color: #FF69B4;">Attendee ID:</strong> {{UUID}}</p>
            <p style="font-size: 16px; line-height: 1.5; color: #00AEEF;"><strong style="line-height: 1.5; color: #FF69B4;">Ticket Type:</strong> {{ticketType}}</p>
            <p style="font-size: 16px; line-height: 1.5; color: #00AEEF;"><strong style="line-height: 1.5; color: #FF69B4;">Attendee phone:</strong> {{phone}}</p>
            <p style="font-size: 16px; line-height: 1.5; color: #00AEEF;"><strong style="line-height: 1.5; color: #FF69B4;">Attendee email:</strong> {{email}}</p>
            <p style="font-size: 16px; line-height: 1.5; color: #00AEEF;"><strong style="line-height: 1.5; color: #FF69B4;">Event Date:</strong> May 1 – 3, 2025</p>
            <p style="font-size: 16px; line-height: 1.5; color: #00AEEF;"><strong style="line-height: 1.5; color: #FF69B4;">Event Location:</strong> PNC Arena, Raleigh, North Carolina</p>
        </div>

        <!-- QR Code Section -->
        <div id="qr-code" style="text-align: center; margin-bottom: 20px;">
            <h2 style="color: #00AEEF; margin-bottom: 20px;"><strong style="line-height: 1.5; color: #FF69B4;">Your QR Code for Check-In:</strong></h2>
            <h4 style="color: #00AEEF; margin-bottom: 20px;">Please bring this QR code to the event for a seamless check-in experience.</h4>
            <p style="color: #00AEEF;"><strong>The QR code provided in this email is intended solely for BeastCon check-in purposes.</strong></p>
            <img src="{{qrcodeurl}}" alt="QR Code" style="max-width: 200px; height: auto;">
        </div>

        <!-- Footer Section -->
        <div id="footer" style="padding: 20px; background-color: #f2f2f2; text-align: center; color: #666666; font-size: 12px;">
            <p style="font-size: 16px; line-height: 1.5; color: #00AEEF;">If you have any questions, contact us at <a href="mailto:beastconmailer@gmail.com" style="color: #FF69B4; text-decoration: none; font-weight: bold;">beastconmailer@gmail.com</a></p>
            <p style="font-size: 16px; line-height: 1.5; color: #00AEEF;">We look forward to seeing you at the event.</p>
        </div>

        <!-- Copyright Section -->
        <div id="copyright" style="text-align: center; padding-top: 5px; padding-bottom: 5px;">
            <p style="font-size: 16px; line-height: 1.5; color: #00AEEF;">&copy; Copyright Mr Beast, Inc. All rights reserved.</p>
        </div>
    </div>
</body>
</html>
